<ul class="task-list">
  {% for parent_item, child_items in task_map.items %}
  <li>{{ parent_item }}</li>
  {% if child_items %}
  <ul>
  {% for child in child_items %}
	  <li>{{ child }}</li>
  {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}
</ul>
